<!DOCTYPE html>
<html lang="it">
  <%- include("./partials/head"); %>
  <body class="h-auto">
    <div class="dashboard d-flex flex-column h-100">
      <%- include("./partials/navbar"); %>
      <div class="form flex-fill text-center">
        <div class="d-md-flex justify-content-center flex-column h-100">
          <div class="container-fluid row mx-auto p-md-5">
            <div class="col-md my-md-auto my-5">
              <%- include("./partials/post") %>
            </div>
            <div class="col-md my-md-auto my-5">
              <%- include("./partials/feed") %>
            </div>
          </div>
        </div>
      </div>
      <%- include("./partials/footer"); %>
    </div>
  </body>
</html>
